@import "vars"

.modal-overlay
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	background: rgba(#F7B645,0.9)
	transition: $transition
	z-index: 2000
	visibility: hidden
	opacity: 0
	&.open-overlay
		visibility: visible
		opacity: 1

.modal
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	transition: $transition
	z-index: 99999
	visibility: hidden
	opacity: 0
	overflow-y: auto
	overflow-x: hidden
	backface-visibility: hidden
	padding: 20px 0
	&-attr
		display: none
	&-close
		position: absolute
		top: 15px
		right: 15px
		width: 30px
		height: 30px
		cursor: pointer
		background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 1L1 20' stroke='white' stroke-width='2' stroke-linejoin='round'/%3E%3Cpath d='M1 1L20 20' stroke='white' stroke-width='2' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
		background-repeat: no-repeat
		background-position: center
		background-size: 20px
		z-index: 100
		display: none
	&.open
		visibility: visible
		opacity: 1
	&-center
		text-align: center
		margin-bottom: 20px
	.prompt-text.prompt
		text-align: center
		margin-bottom: 25px
		.modal-link
			opacity: 0.7
	&-wrap
		width: 100%
		margin: 0 auto
		position: relative
		border-radius: 20px
		overflow: hidden
		box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.7)
		max-width: 640px
		.modal
			&-close
				display: block
		&::before,&::after
			content: ''
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
		&::before
			background: linear-gradient(0deg, #350F0A, #350F0A)
			opacity: 0.95
		&::after
			background-image: url(../img/modal/modal-bg-min.png)
			background-repeat: repeat
	form,&-block
		position: relative
		z-index: 20
	&-title
		display: block
		text-align: center
		font-family: $OfficinaSansBlackC
		font-size: 20px
		line-height: 1.2
		font-weight: 900
		color: #fff
		margin: 0 0 24px
		b
			font-weight: 900
			color: #FCAE18
	&-text
		display: block
		text-align: center
		font-family: $OfficinaSansBookC
		font-size: 14px
		line-height: 16px
		color: #fff
		margin: 0 auto 20px
	&-checkbox
		padding-bottom: 8px
	&-bottom
		max-width: 200px
		margin: 0 auto
		text-align: center
		.primary-btn
			min-width: 162px
	&-link
		display: inline-block
		font-family: $OfficinaSansBoldC
		font-size: 14px
		line-height: 16px
		font-weight: bold
		color: #fff
		text-decoration: underline
		margin-top: 9px
		&:hover
			text-decoration: none
	&-numbers
		display: flex
		flex-flow: row nowrap
		justify-content: center
		padding-bottom: 24px
		div
			width: 50px
			padding: 0 5px
			input
				display: block
				padding-top: 5px
				width: 40px
				height: 50px
				border: none
				border-radius: 2px
				background-color: #fff
				text-align: center
				font-size: 24px
				color: #5E140C
	&-timer
		display: block
		text-align: center
		font-size: 14px
		line-height: 16px
		color: rgba(#fff, 0.5)
		margin: 0 0 24px
	&-code
		text-align: center
		input
			text-align: center
			margin-bottom: 6px
		.modal-link
			font-size: 13px
			line-height: 15px
			opacity: 0.7
	&.modal-form
		width: 100%
		.modal
			&-wrap
				max-width: 320px
				padding: 64px 20px 30px
	&.modal-prize
		width: 100%
		box-shadow: none
		.modal
			&-wrap
				max-width: 320px
				padding: 64px 20px 30px
	&.modal-confirmation
		width: 100%
		.modal
			&-wrap
				max-width: 320px
				padding: 64px 20px 30px
	&.modal-prize-2
		.prize
			&-img
				img,svg
					max-width: 212px
					max-height: 212px
	&.modal-prize-3
		.prize
			&-img
				img,svg
					max-height: 186px
	&.modal-prize-4
		padding-top: 25px
		.modal-close
			top: 15px
		.modal-wrap
			border-radius: 20px
	&.modal-prize-5
		.prize-img
			img,svg
				max-width: 321px
				max-height: 319px
				width: 321px
				height: 319px
				padding-left: 30px
	&.modal-prize-6
		.primary-btn
			margin-bottom: 27px
		.prompt-text.prompt
			margin-bottom: 0
		.prompt-wrap
			top: auto
			bottom: 0
	&.modalMain
		box-shadow: none
		border-radius: 0
		overflow-x: hidden
		overflow-y: hidden
		padding: 109px 0 50px
		.modal-wrap
			max-width: 800px
		.modal-close
			top: 132px
		.primary-btn
			min-width: 284px
			position: absolute
			bottom: 0
			left: 50%
			transform: translate(-50%,0)
			box-shadow: -2px 2px 2px rgba(104, 39, 0, 0.75)
			z-index: 20
			margin-bottom: -21px
		.modalMain
			&-block
				position: relative
			&-text
				position: absolute
				top: 0
				left: 50%
				transform: translate(-50%,0)
				z-index: 20
				img,svg
					max-width: 640px
			&-row
				display: flex
				flex-flow: row nowrap
				padding: 102px 52px 21px 34px
				position: relative
				z-index: 10
			&-col
				width: 33.333%
				height: 248px
				position: relative
				img,svg
					display: block
					position: absolute
					top: 50%
					left: 50%
					transform: translate(-50%,-50%)
				&-1
					margin-top: 34px
					img,svg
						min-width: 248px
				&-2
					margin-top: 28px
					img,svg
						min-width: 259px
				&-3
					img,svg
						min-width: 263px
		.modal
			&-wrap
				height: 405px
				box-shadow: none
				border-radius: 20px
				overflow: hidden
	&.modalInfo
		.modal
			&-block
				text-align: center
				p
					font-family: $OfficinaSansBoldC
					font-size: 18px
					line-height: 21px
					font-weight: bold
					color: #fff
					margin: 0 0 24px
				.primary-btn
					min-width: 194px
					margin-bottom: 28px
			&-name
				display: block
				font-family: $OfficinaSansBoldC
				font-size: 16px
				line-height: 20px
				font-weight: bold
				color: #fff
				margin: 0 0 9px
			&-voices
				display: block
				font-family: $OfficinaSansBlackC
				font-size: 24px
				line-height: 30px
				font-weight: 900
				color: #FCE7A7
				text-transform: uppercase
				margin: 0
	&.modalThanks
		.second-btn
			display: block
			min-width: 158px
			max-width: 158px
			margin: 0 auto
	&.noLikes
		.modal-title
			font-size: 18px
			line-height: 23px
			padding-bottom: 24px
			margin: 0
		.second-btn,.primary-btn
			display: block
			width: 100%
		.primary-btn
			margin: 10px 0 23px
	&#game-error-modal
		.modal-bottom
			max-width: 100%
	&#modal-numberConfirmation
		label.error,.input-text
			display: none!important
	&.modal-video
		.modal
			&-wrap
				max-width: 1128px
				padding: 50px 20px 15px
				.modal-close
					display: none!important
				video
					display: block
					width: 100%
					position: relative
					z-index: 40
			&-cross
				.close-ico
					display: block!important
	&-cross
		display: flex
		flex-flow: row nowrap
		align-items: center
		justify-content: center
		position: absolute
		top: 16px
		left: 50%
		transform: translate(-50%,0)
		font-size: 16px
		line-height: 19px
		color: #fff
		z-index: 50
		.close-ico
			background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 1L1 20' stroke='white' stroke-width='2' stroke-linejoin='round'/%3E%3Cpath d='M1 1L20 20' stroke='white' stroke-width='2' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
			min-width: 19px
			width: 19px
			height: 19px
			display: block!important
			margin-right: 9px
		span
			display: inline-block
			text-decoration-line: underline
		&:hover
			span
				text-decoration: none

.prize
	&-txt
		display: block
		font-size: 14px
		line-height: 16px
		color: #fff
		padding-bottom: 27px
		text-align: center
	&-question
		max-width: 200px
		margin: 0 auto
		position: relative
		z-index: 20
		.prize
			&-title
				margin-bottom: 20px
	&-title
		display: block
		text-align: center
		font-family: $OfficinaSansBlackC
		font-size: 20px
		line-height: 1.25
		color: #fff
		margin: 0
		b
			display: block
			color: #FCAE18
	&-btns
		.primary-btn,.second-btn
			display: block
		.primary-btn
			margin-bottom: 27px
	&-block
		position: relative
		z-index: 20
		.primary-btn
			display: block
			max-width: 200px
			width: 100%
			margin: 0 auto
		.input-block
			margin-bottom: 8px
			input
				text-align: center
	&-img
		min-height: 190px
		position: relative
		img,svg
			display: block
			max-width: 224px
			max-height: 224px
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%,-50%)
	&-logo
		position: absolute
		top: 0
		left: 50%
		transform: translate(-50%,0)
		z-index: 30
		img,svg
			display: block
			max-width: 70px
		&-2
			img,svg
				max-width: 116px
	&-picture
		img,svg
			display: block
			max-width: 152px
			margin: 0 auto 27px
	&-subtitle
		display: block
		text-align: center
		font-family: $OfficinaSansBlackC
		font-size: 18px
		line-height: 23px
		color: #fff
		margin: 0 0 27px
		b
			color: #FCAE18
	&-link
		display: block
		text-align: center
		font-size: 13px
		line-height: 15px
		color: #fff
		text-decoration: underline
		margin-bottom: 27px
		opacity: 0.7
		&:hover
			text-decoration: none

.howToGet
	text-align: center
	img,svg
		display: block
		max-width: 152px
		margin: 0 auto
	.primary-btn
		min-width: 194px
	&-title,&-text
		display: block
		text-align: center
	&-title
		font-family: $OfficinaSansBoldC
		font-size: 18px
		line-height: 21px
		font-weight: bold
		color: #fff
		margin: 0 0 25px
	&-text
		font-size: 16px
		line-height: 18px
		color: #F7B645
		margin: 29px 0 25px

@media only screen and (max-width : 768px)
	.modal
		&.modalMain
			max-width: 320px
			padding: 76px 0 0
			overflow-y: auto
			.modal-close
				top: 20px
			.primary-btn
				bottom: 40px
				min-width: 250px
				font-size: 18px
			.modal
				&-wrap
					height: 796px
			.modalMain
				&-text
					img,svg
						max-width: 346px
				&-row
					display: block
					padding: 56px 20px 80px
				&-col
					width: 100%
					margin: 0
					&-2
						margin-top: -44px
					&-3
						margin-top: -40px
		&.modal-video
			.modal
				&-wrap
					padding: 39px 0 0
					box-shadow: none
					border-radius: 0
					&::before,&::after
						display: none
		&-cross
			top: 10px